*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    "header"
    "main";
  justify-items: stretch;
  align-items: stretch;
}

.App header {
  grid-area: header;
  background-color: gray;

  display: flex;
  align-items: center;
  justify-content: center;
}

.App main {
  grid-area: main;
  background-color: whitesmoke;
  overflow: auto;
  padding: 1rem;
  /* height: 50vh; */

  display: flex;
  align-items: flex-start;

  justify-content: space-evenly;
}

.App main ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;

  box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px,
    rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  border-radius: 10px;
  background-color: #fff;
  min-width: 100%;
  min-height: 100%;
}

.App main ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-end; */
  align-items: stretch;

  padding: 1rem;
  background-color: green;
  border: 1px solid gray;
  width: 100%;
  margin: 0.5rem;

  box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px,
    rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  border-radius: 10px;
  width: 20rem;
  border: 2px solid gray;
}

.App main div.TasksTile > ul > li.listHeader {
  align-items: center;
  background: none;
  justify-content: center;
  margin-bottom: 1rem;
}
.App main div.TasksTile--pending ul li.listHeader {
}

/* TODO: Scope this to edit mode items only !*/
.App main div.TasksTile ul li.TodoListItem .taskInput {
  all: unset;
  text-align: right;
  background-color: rgb(245 245 220 / 40%);

  border-radius: 6px;
  padding: 0.25rem;

  caret-color: white;
}
.App main div.TasksTile ul li.TodoListItem .taskPriority {
  all: unset;
  text-align: right;
  background-color: rgb(245 245 220 / 40%);
  border-radius: 6px;
  padding: 0.25rem;
}

.App main div.TasksTile--pending ul li.TodoListItem.TodoListItem--priority-1 {
  background-color: #fd5252;
  border-color: darkred;
}
.App main div.TasksTile--pending ul li.TodoListItem.TodoListItem--priority-2 {
  background-color: orange;
  border-color: red;
}
.App main div.TasksTile--pending ul li.TodoListItem.TodoListItem--priority-3 {
  background-color: #ffdc7d;
  border-color: orange;
}
.App main div.TasksTile--pending ul li.TodoListItem.TodoListItem--priority-4 {
  /* background-color: yellowgreen; */
  /* background-color: #00c4a7; */
  background-color: #00d1b2;
  border-color: green;
}

.App main div.TasksTile {
  align-self: stretch;
  width: 45%;
  display: flex;
  min-height: 90vh;
}

.App main div.TasksTile ul li .TodoListItem--task-header {
  display: flex;

  padding: 0.5rem;
  border-bottom: 1px solid black;
  margin-bottom: 0.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.App main div.TasksTile ul li .TodoListItem--task-caption {
  font-weight: bold;
  /* align-self: flex-start; */

  /* width: 100%; */
  /* text-align: start; */
}

.App main div.TasksTile ul li .TodoListItem--task-actions {
  padding-right: 0.5rem;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App main div.TasksTile--pending ul li.TodoListItem {
  background-color: red;
}
.App main div.TasksTile--done ul li.TodoListItem {
  /* background-color: gray; */
  background-color: lightslategray;
  border-color: #525e6a;

  background-color: lightgray;
  border-color: #c5c5c5;
}

.App main div.TasksTile ul li.TodoListItem button {
  all: unset;
  padding: 0.25em;
  /* color: darkolivegreen; */
  color: black;
  font-size: 1.25rem;
  background-color: transparent;
  /* border-radius: 50%; */
  /* border: 1px solid gray; */
}

.App
  main
  div.TasksTile--pending
  ul
  li.TodoListItem
  button.toggleTaskStatus:hover
  i:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
}

.App main div.TasksTile--pending ul li.TodoListItem button:hover i:before {
  color: white;
}
.App
  main
  div.TasksTile--done
  ul
  li.TodoListItem
  button.toggleTaskStatus
  i:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0e2";
}
.App main div.TasksTile--done ul li.TodoListItem button:hover i:before {
  color: white;
}
