/* TODO: Organize this ;-) */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  /* display: grid;
  grid-template-rows: 11fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"; */

  /* grid-gap: 1rem; */

  justify-items: stretch;
  align-items: stretch;
  text-align: center;
  font-family: sans-serif;
  text-align: center;

  height: 100%;
}

.App header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  width: 100%;
  padding: 1.5rem;
  background-color: #5b9d9d;
}

.App header form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 1rem;
}

.App header h1 {
  color: aliceblue;
  letter-spacing: 2px;
  order: -1;
  margin-bottom: 1rem;
}
.App header h1 i {
  margin-right: 0.5rem;
}

.App header input,
.App header select {
  all: unset;
  margin-right: 0.5rem;
  /* text-align: right; */
  background-color: rgb(245 245 220 / 40%);
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
  caret-color: white;
  color: white;
  font-weight: bold;
  box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px,
    rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  letter-spacing: 1px;
}

.App header select {
  color: rgba(255, 255, 255, 0.65);
  font-weight: normal;
}
.App header select option {
  color: black;
}
option[default] {
  /* display: none; */
  /* color: white; */
  color: rgba(255, 255, 255, 0.65);
  font-weight: normal;
}

.App header input::placeholder {
  color: rgba(255, 255, 255, 0.65);
  font-weight: bold;
  /* font-size: 1.5em; */
}

.App header button {
  all: unset;
  padding: 0.5rem 0.75rem;
  background-color: aquamarine;
  background-color: #65f4d0;
  border-radius: 10px;
  box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px,
    rgb(0 0 0 / 30%) 0px 8px 16px -8px;
}

.App main {
  /* grid-area: main; */
  background-color: whitesmoke;
  overflow: auto;
  padding: 1rem;
  /* height: 50vh; */

  display: flex;
  align-items: flex-start;

  justify-content: space-between;
  gap: 1rem;
}

.App main div.TasksTile {
  align-self: stretch;
  width: 24%;

  min-height: 85vh;
  /* margin-right: 1rem; */
  /* min-width: 240px; */
  min-width: 350px;

  box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px,
    rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  border-radius: 10px;
  background-color: #fff;
}

.App main ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 1rem;

  /* min-width: 100%; */
  /* min-height: 100%; */
  /* min-width: 250px; */
}

.App main ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-end; */
  align-items: stretch;

  padding: 1rem;
  background-color: green;
  border: 1px solid gray;

  margin: 0.5rem;

  box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px,
    rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  border-radius: 10px;

  border: 2px solid gray;

  /* min-width: 160px; */
}

.App main div.TasksTile ul li .TodoListItem--task-header {
  display: flex;

  padding: 0.5rem;
  border-bottom: 1px solid black;
  margin-bottom: 0.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.App main div.TasksTile > ul > li.listHeader {
  align-items: center;
  background: none;
  justify-content: center;
  margin-bottom: 1rem;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.25rem;
}
/* .App main div.TasksTile--pending ul li.listHeader {
} */

/* TODO: Scope this to edit mode items only !*/
.App main div.TasksTile ul li.TodoListItem .taskInput {
  all: unset;
  text-align: right;
  background-color: rgb(245 245 220 / 40%);

  border-radius: 6px;
  padding: 0.25rem;

  caret-color: white;
}
.App main div.TasksTile ul li.TodoListItem .taskPriority {
  all: unset;
  text-align: right;
  background-color: rgb(245 245 220 / 40%);
  border-radius: 6px;
  padding: 0.25rem;
}

.App main div.TasksTile--pending ul li.TodoListItem.TodoListItem--priority-1,
.App main div.TasksTile--active ul li.TodoListItem.TodoListItem--priority-1 {
  background-color: #fd5252;
  border-color: darkred;
}
.App main div.TasksTile--pending ul li.TodoListItem.TodoListItem--priority-2,
.App main div.TasksTile--active ul li.TodoListItem.TodoListItem--priority-2 {
  background-color: orange;
  border-color: #b87333;
}
.App main div.TasksTile--pending ul li.TodoListItem.TodoListItem--priority-3,
.App main div.TasksTile--active ul li.TodoListItem.TodoListItem--priority-3 {
  background-color: #ffdc7d;
  border-color: orange;
}
.App main div.TasksTile--pending ul li.TodoListItem.TodoListItem--priority-4,
.App main div.TasksTile--active ul li.TodoListItem.TodoListItem--priority-4 {
  /* background-color: yellowgreen; */
  /* background-color: #00c4a7; */
  background-color: #00d1b2;
  border-color: green;
}

.App main div.TasksTile ul li .TodoListItem--task-caption {
  font-weight: bold;
  /* align-self: flex-start; */

  /* width: 100%; */
  /* text-align: start; */
}

.App main div.TasksTile ul li .TodoListItem--task-actions {
  padding-right: 0.5rem;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App main div.TasksTile--pending ul li.TodoListItem {
  background-color: red;
}
.App main div.TasksTile--done ul li.TodoListItem {
  /* background-color: gray; */
  background-color: lightslategray;
  border-color: #525e6a;

  background-color: #5f9ea091;
  border-color: #097969;
}

/* TODO: rename to "archived" */
.App main div.TasksTile--trashed ul li.TodoListItem {
  /* background-color: gray; */
  /* background-color: lightslategray;
  border-color: #525e6a; */

  background-color: lightgray;
  border-color: #899499;
}

.App main div.TasksTile ul li.TodoListItem button {
  all: unset;
  padding: 0.25em;
  /* color: darkolivegreen; */
  color: black;
  font-size: 1.25rem;
  background-color: transparent;
  /* border-radius: 50%; */
  /* border: 1px solid gray; */
}

.App
  main
  div.TasksTile--pending
  ul
  li.TodoListItem
  button.toggleTaskStatus:hover
  i:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
}

.App main div.TasksTile ul li.TodoListItem button:hover i:before {
  color: white;
}
